{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "quoteProps": "preserve",
  "bracketSpacing": false,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": ["*.yml", "*.json"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
